body{
	margin: 0;
	padding: 0;
	background-image: url('star.jpg');
	background-repeat:no-repeat;
	background-size: cover;
}

div.nav{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	border-bottom: 2px solid #182448;
	height: 50px;
}

ul{
	list-style-type: none;
	overflow: hidden;
	margin-left: 60px;
}

li{
	font-family: 'Antonio', sans-serif;
	color: white;
	font-size: 24px;
	float: left;
	padding: 7px 15px;
}

li:hover{
	background-color: #343C64;
	color: white;
}

div.document{
	margin-top: 50px;
	margin-left: 220px;
	padding: 50px;
	width: 70%;
	background-color: white;
	position: absolute;
	border: 7px solid #753C2C;
}

p{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 27px;
}

p.name{
	font-family: 'Playfair Display', serif;
	font-size: 50px;
	text-align: center;
	color: #343C64;
}

hr{
	width: 20%;
	height: 4px;
	background-color: #343C64;
	color: #343C64;
}

img.about{
	width: 15%;
	position: absolute;
	margin-top: 50px;
	margin-left: 810px;
}